*{
    box-sizing: border-box;
}

body{

    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#linear{
    width: 400px;
    height: 400px;
    /* border: 2px solid black; */
    background-image: linear-gradient(to bottom right , rgba(255,0,0,0.7),rgba(0,255,0,0.7));
    box-shadow: 0px 0px 10px black;
    
}

#radial{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    background-image: radial-gradient(circle, rgba(255,0,0,0.7),rgba(0,255,0,0.7),rgba(0,0,255,0.5));
}

#conic{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 500px;
    background-image: conic-gradient(red 45deg, yellow 90deg, green 210deg);
    text-shadow: 0px 0px 10px black;
}